<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page of Wenting Tan</title>
	<meta name="description" content="A webpage that shows mining results on NYC Taxi data." />
	<meta name="keywords" content="NBA, data mining" />
	<meta name="author" content="Wenting Tan" />
	<link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalize.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/flickity.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}" />
	<script src="{{url_for('static',filename='js/modernizr.custom.js')}}"></script>
    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}
</head>
<body>
	<div class="container">
		<div class="hero">
			<div class="hero__back hero__back--static"></div>
			<div class="hero__back hero__back--mover"></div>
			<div class="hero__front"></div>
		</div>
		<header class="codrops-header">
			<h1 class="codrops-title">Wenting Tan (Michelle) <span>Software Engineer</span></h1>
			<nav class="menu">
				<a class="menu__item" href="https://www.linkedin.com/in/wenting-tan-093a8546"><span>About</span></a>
				<a class="menu__item menu__item--current" href="#"><span>Work</span></a>
				<a class="menu__item" href="#"><span>Contact</span></a>
			</nav>
		</header>
        <div class="copyrights">Wenting Tan</div>
		<div class="stack-slider">
			<div class="stacks-wrapper">
				<div class="stack">
					<h2 class="stack-title"><a href="{{url_for('plot_data', _anchor='figure1')}}" data-text="About me"><span>About me</span></a></h2>
					
					<div class="item">
						<div class="item__content">
							<h3 class="item__title">Wenting Tan (Michelle)</h3>
							<img src="{{url_for('static',filename='img/wenting.jpg')}}" width="10" />
							<p>Wenting Tan is a recent graduate with a M.S. degree in computer science at the College of William and Mary. She also got her M.S. and B.S. degrees in Physics. She currently is working as a software engineer in Silicon Valley. Art is also a part of her life. She plays piano and pipa and is very good at sketching.</p>
							<p>She is an enthusiast in Astronomy, ancient civilizations, wild adventure and traveling...</p>
						</div>
					</div>
				</div>
				<div class="stack">
					<h2 class="stack-title"><a href="{{url_for('plot_data', _anchor='figure2')}}" data-text="Biography"><span>Biography</span></a></h2>
					<div class="item">
						<div class="item__content">
							<h3 class="item__title">Professional Experience </h3>
								<ul>
									<li>(2016-current) Software Engineer at <a href="https://www.picarro.com/">Picarro, Inc.</a> in California (Silicon Valley).</li>
									<li>(2013-2015) Teaching assistant at the College of William and Mary.</li>
									<li>(2011-2013) Research assistant in neutrino experiment at Fermi National Accelerator Laboratory (<a href="http://www.fnal.gov/">Fermilab</a>). (Greater Chicago Area, USA) Her research topic is "Constraining the Medium Energy flux via nu-e elastic scattering at <a href="http://minerva.fnal.gov/">MINERvA</a> experiment". <a href="http://minerva-docdb.fnal.gov/cgi-bin/ListBy?authorid=243">Wenting's Documents at MINERvA</a> </li> 
									<li>(2010 spring) Intern student at Institute of High Energy Physics (<a href="http://english.ihep.cas.cn/">IHEP</a>), Chinese Academy of Sciences. (Beijing, China) Her project is Measurement of Î² -function at interaction point based on <a href="http://www.ihep.ac.cn/english/E-Bepc/">BEPC II</a>.</li>
									<li>(2009 summer) Intern student at Institute of Modern Physics (<a href="http://english.imp.cas.cn/">IMP</a>), Chinese Academy of Sciences. (Lanzhou, China) She studied Electron Cooling System in <a href="http://english.imp.cas.cn/rs/ma/hs/CSR">CSR</a>.</li> 
								</ul>
						</div>
						<div class="item__content">
							<h3 class="item__title">Education </h3>
								<ul>
									<li>M.S. in Computer Science, The College of William and Mary. USA.</li>
									<li>M.S. in Experimental Physics, Hampton University. USA.</li>
									<li>B.S. in Physics, Lanzhou University. China</li>
								</ul>
						</div>
						<div class="item__content">
							<h3 class="item__title">Publications </h3>
							<h4>Computer Science Master Thesis</h4>
							<p><a href= ../static/img/CS710report.pdf>Optimizing Shared Cache for Parallel Applications</a></p>
							<h4>Physics Master Thesis</h4>
							<p>
							<a href="http://gradworks.umi.com/15/61/1561455.html">Constraining the medium energy flux via nu-e elastic scattering at MINERvA experiment</a>
							</p>

							<h4>Physics</h4>
							<ul>
							<li>Chunhai Lv, Wenting Tan, Lei Tan, "<a href="http://www.jourlib.org/paper/1444649#.VW38lVzBzGc">Electromagnetically induced transparency in squeezed vacuum</a>", Acta Physica Sinica, 2011/02</li>
							<li>Bin Wang, Lei Tan, Chunhai Lv, Wenting Tan, "<a href="http://iopscience.iop.org/1674-1056/19/11/117402">Josephson junction of two-species Bose-Einstein condensates in a high-finesse optical cavity</a>", Chinese Phys. B., 2010/11</li>
							<li>Liwei Liu, Lei Tan, Caiying Ding, Yuqing Zhang, Wenting Tan, "<a href="http://iopscience.iop.org/1674-1056/17/10/022">Enhanced cooling of a V-type three-level atom in an optical cavity</a>", Chinese Phys. B., 2008/10</li>
							</ul>


							<h4>In Collaboration</h4>
							<ul>
							<li>The MINERvA collaboration, "<a href="http://journals.aps.org/prl/abstract/10.1103/PhysRevLett.111.022501">Measurement of Muon Antineutrino Quasi-Elastic Scattering on a Hydrocarbon Target at E_v ~ 3.5 GeV</a>", Phys. Rev. Lett. 111, 022501 (2013).
							</li>

							<li>The MINERvA collaboration, "<a href="http://journals.aps.org/prl/abstract/10.1103/PhysRevLett.111.022502">Measurement of Muon Neutrino Quasi-Elastic Scattering on a Hydrocarbon Target at E_v ~ 3.5 GeV</a>", Phys. Rev. Lett. 111, 022502 (2013).
							</li> 
							</ul>

						</div>


					</div>
				</div>
			</div>
			<!-- /stacks-wrapper -->
		</div>
		<!-- /stacks -->
		<img class="loader" src="{{url_for('static',filename='img/three-dots.svg')}}" width="60" alt="Loader image" />
	</div>
	<!-- /container -->
	<script src="{{url_for('static',filename='js/flickity.pkgd.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/smoothscroll.js')}}"></script>
	<script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>