<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page of Wenting Tan</title>
	<meta name="description" content="A webpage that shows mining results on NYC Taxi data." />
	<meta name="keywords" content="NBA, data mining" />
	<meta name="author" content="Wenting Tan" />
	<link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalize.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/flickity.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}" />
	<script src="{{url_for('static',filename='js/modernizr.custom.js')}}"></script>
    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}
</head>
<body>
	<div class="container">
		<div class="hero">
			<div class="hero__back hero__back--static"></div>
			<div class="hero__back hero__back--mover"></div>
			<div class="hero__front"></div>
		</div>
		<header class="codrops-header">
			<h1 class="codrops-title">Wenting Tan (Michelle) <span>Software Engineer</span></h1>
			<nav class="menu">
				<a class="menu__item" href="https://www.linkedin.com/in/wenting-tan-093a8546"><span>About</span></a>
				<a class="menu__item menu__item--current" href="#"><span>Work</span></a>
				<a class="menu__item" href="#"><span>Contact</span></a>
			</nav>
		</header>
        <div class="copyrights">Wenting Tan</div>
		<div class="stack-slider">
			<div class="stacks-wrapper">
				<div class="stack">
					<h2 class="stack-title"><a href="{{url_for('plot_data', _anchor='figure1')}}" data-text="About me"><span>About me</span></a></h2>
					
					<div class="item">
						<div class="item__content">
							<h3 class="item__title">Wenting Tan (Michelle)</h3>
							<img src="{{url_for('static',filename='img/wenting.jpg')}}" width="10" />
							<p>Wenting Tan is a recent graduate with a M.S. degree in computer science at the College of William and Mary. She also got her M.S. and B.S. degrees in Physics. She currently is working as a software engineer in Silicon Valley. Art is also a part of her life. She plays piano and pipa and is very good at sketching.</p>
							<p>She is an enthusiast in Astronomy, ancient civilizations, wild adventure and traveling...</p>
						</div>
					</div>
				</div>
				<div class="stack">
					<h2 class="stack-title"><a href="{{url_for('plot_data', _anchor='figure2')}}" data-text="Figure 2"><span>Figure 2</span></a></h2>
					<div class="item">
						<div class="item__content">
							<img src="{{url_for('static',filename='img/avgFare.jpg')}}" alt="img01" />
							<h3 class="item__title">Mapping of average taxi fare per trip versus pick-up location for New York City yellow cab in January 2015 </h3>
                            <p> Color scale indicates average amount of taxi fare per trip: fare increases from dark blue to red and yellow.
                            Average fare above $24 is plotted in yellow.</p>
    
                            <p>This figure clears shows that average taxi fare is strongly correlated with pick-up location. </p>
						</div>
					</div>
				</div>
			</div>
			<!-- /stacks-wrapper -->
		</div>
		<!-- /stacks -->
		<img class="loader" src="{{url_for('static',filename='img/three-dots.svg')}}" width="60" alt="Loader image" />
	</div>
	<!-- /container -->
	<script src="{{url_for('static',filename='js/flickity.pkgd.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/smoothscroll.js')}}"></script>
	<script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>