<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wenting Tan::Software Engineer</title>
	<meta name="description" content="A webpage that shows mining results on NYC Taxi data." />
	<meta name="keywords" content="NBA, data mining" />
	<meta name="author" content="Wenting Tan" />
	<link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalize.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/flickity.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}" />
	<script src="{{url_for('static',filename='js/modernizr.custom.js')}}"></script>
    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}
</head>
<body>
	<div class="container">
		<div class="hero">
			<div class="hero__back hero__back--static"></div>
			<div class="hero__back hero__back--mover"></div>
			<div class="hero__front"></div>
		</div>
		<header class="codrops-header">
			<h1 class="codrops-title">Wenting Tan (Michelle) <span>Software Engineer</span></h1>
			<nav class="menu">
				<a class="menu__item" href="https://www.linkedin.com/in/wenting-tan-093a8546"><span>About</span></a>
				<a class="menu__item menu__item--current" href="#"><span>Work</span></a>
				<a class="menu__item" href="#"><span>Contact</span></a>
			</nav>
		</header>
        <div class="copyrights">Wenting Tan</div>
		<div class="stack-slider">
			<div class="stacks-wrapper">
				<div class="stack">
					<h2 class="stack-title"><a href="{{url_for('plot_data', _anchor='figure1')}}" data-text="Figure 1"><span>Figure 1</span></a></h2>
					<div class="item">
						<div class="item__content">
							{{ plot_div|indent(4)|safe }}
							<h3 class="item__title">Total number of taxi trips versus days. </h3>
						</div>
					</div>
				</div>
				<div class="stack">
					<h2 class="stack-title"><a href="{{url_for('plot_data', _anchor='figure2')}}" data-text="Figure 2"><span>Figure 2</span></a></h2>
					<div class="item">
						<div class="item__content">
							<img src="{{url_for('static',filename='img/avgFare.jpg')}}" alt="img01" />
							<h3 class="item__title">Mapping of average taxi fare per trip versus pick-up location for New York City yellow cab in January 2015 </h3>
                            <p> Color scale indicates average amount of taxi fare per trip: fare increases from dark blue to red and yellow.
                            Average fare above $24 is plotted in yellow.</p>
    
                            <p>This figure clears shows that average taxi fare is strongly correlated with pick-up location. </p>
						</div>
					</div>
				</div>
			</div>
			<!-- /stacks-wrapper -->
		</div>
		<!-- /stacks -->
		<img class="loader" src="{{url_for('static',filename='img/three-dots.svg')}}" width="60" alt="Loader image" />
	</div>
	<!-- /container -->
	<script src="{{url_for('static',filename='js/flickity.pkgd.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/smoothscroll.js')}}"></script>
	<script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>